<a href="https://colab.research.google.com/github/maddalayasaswini/TechLeadsAssignments/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TUPLES

Tuples are used to store multiple items in a single variable.

In [ ]:
a = ("YASASWINI","SRINIVAS RAO","LAXMI")
print(a)
print(len(a))            #Number of items in tuple
print(type(a))
b = tuple(("YASASWINI","SRINIVAS RAO","LAXMI"))         #Tuple construtor
print(b)

('YASASWINI', 'SRINIVAS RAO', 'LAXMI')
3
<class 'tuple'>
('YASASWINI', 'SRINIVAS RAO', 'LAXMI')

In [ ]:
a = ("YASASWINI","SRINIVAS RAO","LAXMI")
print(a[1])           #2nd item of the list
print(a[-1])          #refers to the last items
print(a[2:3])         #Range of indexes
print(a[:2])
print(a[1:])
print(a[-3:-1])        #Negative indexing

SRINIVAS RAO
LAXMI
('LAXMI',)
('YASASWINI', 'SRINIVAS RAO')
('SRINIVAS RAO', 'LAXMI')
('YASASWINI', 'SRINIVAS RAO')

In [ ]:
a = ("YASASWINI","SRINIVAS RAO","LAXMI")
if "YASASWINI" in a:
  print("Yes, 'YASASWINI' is in the a list")   #check if item exists

Yes, 'YASASWINI' is in the a list

In [ ]:
a = ("YASASWINI","SRINIVAS RAO","LAXMI")
b = list(a)
b[1] = "DHANUSH"
a = tuple(a)
print(a)
b[1:2] = ("CHINNU", "DHANUSH")      #change in range of item values
print(a)

('YASASWINI', 'SRINIVAS RAO', 'LAXMI')
('YASASWINI', 'SRINIVAS RAO', 'LAXMI')

In [ ]:
a = ("YASASWINI","SRINIVAS RAO","LAXMI")
b = list(a)
b.append("DHANUSH")       #adds the given item
a = tuple(b)
print(a)
b.remove("YASASWINI")     #remove the give item
print(a)

('YASASWINI', 'SRINIVAS RAO', 'LAXMI', 'DHANUSH')
('YASASWINI', 'SRINIVAS RAO', 'LAXMI', 'DHANUSH')

In [ ]:
a = ("YASASWINI","SRINIVAS RAO","LAXMI")
(CHINNU,THANU,UMA) = a
print(CHINNU)
print(THANU)              #packing a tuple
print(UMA)

YASASWINI
SRINIVAS RAO
LAXMI

In [ ]:
a = ("YASASWINI","SRINIVAS RAO","LAXMI")
(CHINNU,THANU,*UMA) = a        #using asterik*
print(CHINNU)
print(THANU)
print(UMA)

YASASWINI
SRINIVAS RAO
['LAXMI']

In [ ]:
a = ("YASASWINI","SRINIVAS RAO","LAXMI")
for x in a:
  print(x)                   #loop through a tuple
for i in range(len(a)):           #using range() len()
  print(a[i])

YASASWINI
SRINIVAS RAO
LAXMI
YASASWINI
SRINIVAS RAO
LAXMI

In [ ]:
a = ("YASASWINI","SRINIVAS RAO","LAXMI")
i = 0
while i < len(a):           #using while loop
  print(a[i])
  i = i + 1

YASASWINI
SRINIVAS RAO
LAXMI

In [ ]:
a = ("YASASWINI","SRINIVAS RAO","LAXMI","DHANUSH")
b = ("CHINNU","THANU","UMA")
print(a+b)
mytuple = b*2           #joining tuples
print(mytuple)

*Tuple Methods*

In [ ]:
a = (1,2,3,5,7,9,4,7,9)
b = a.count(7)          #nReturns the nn. of times a specified value occurs in a tuple
print(b)
c = a.count(7)          #	Searches the tuple for a specified value and returns the position of where it was found
print(c)

2
2

# DICTIONARIES

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
a = {"YASASWINI":"DHANUSH" , "SRINIVAS":"LAXMI" , "YEAR":2002}
print(a)
print(a["YASASWINI"])    #Print the value of the qiven dictionary
print(len(a))      #Print the numbers of items in the dictionary

{'YASASWINI': 'DHANUSH', 'SRINIVAS': 'LAXMI', 'YEAR': 2002}
DHANUSH
3

In [ ]:
a = {"YASASWINI":"DHANUSH" , "SRINIVAS":"LAXMI" , "YEAR":2002 , "colour" : ["green","pink"]}
print(a)
print(type(a))
b = dict(YASASWINI = "DHANUSH" , SRINIVAS = "LAXMI" , YEAR = 2002 )
print(b)

{'YASASWINI': 'DHANUSH', 'SRINIVAS': 'LAXMI', 'YEAR': 2002, 'colour': ['green', 'pink']}
<class 'dict'>
{'YASASWINI': 'DHANUSH', 'SRINIVAS': 'LAXMI', 'YEAR': 2002}

In [ ]:
a = {"YASASWINI":"DHANUSH" , "SRINIVAS":"LAXMI" , "YEAR":2002 , "colour" : ["green","pink"]}
a = a["YASASWINI"]         #accessing items
print(a)

DHANUSH

*Dictionary Methods*

In [ ]:
a = {"YASASWINI":"DHANUSH" , "SRINIVAS":"LAXMI" , "YEAR":2002 , "colour" : ["green","pink"]}
x = a.keys()         #get() that will give you the same result
print(x)
b = a.get("YEAR")    #keys() method will return a list of all the keys in the dictionary
print(b)
c = a.values()       #values() method will return a list of all the values in the dictionary
print(c)
d = a.items()        #items() method will return each item in a dictionary, as tuples in a list
print(d)

dict_keys(['YASASWINI', 'SRINIVAS', 'YEAR', 'colour'])
2002
dict_values(['DHANUSH', 'LAXMI', 2002, ['green', 'pink']])
dict_items([('YASASWINI', 'DHANUSH'), ('SRINIVAS', 'LAXMI'), ('YEAR', 2002), ('colour', ['green', 'pink'])])

In [ ]:
a = {"YASASWINI":"DHANUSH" , "SRINIVAS":"LAXMI" , "YEAR":2002 , "colour" : ["green","pink"]}
a["YEAR"] = 2003          #change the specific item by refferring to its key name
print(a)
a.update({"YEAR":2023})   #update() method will update the dictionary with the items from the given argument
print(a)
a["THANU"] = "CHINNU"        #adding items
print(a)
a.pop("SRINIVAS")         #pop() method removes the item with the specified key name
print(a)
a.popitem()         #popitem() method removes the last inserted item
print(a)
del a["YASASWINI"]    #del keyword removes the item with the specified key name
print(a)
a.clear()           #clear() method empties the dictionary
print(a)

{'YASASWINI': 'DHANUSH', 'SRINIVAS': 'LAXMI', 'YEAR': 2003, 'colour': ['green', 'pink']}
{'YASASWINI': 'DHANUSH', 'SRINIVAS': 'LAXMI', 'YEAR': 2023, 'colour': ['green', 'pink']}
{'YASASWINI': 'DHANUSH', 'SRINIVAS': 'LAXMI', 'YEAR': 2023, 'colour': ['green', 'pink'], 'THANU': 'CHINNU'}
{'YASASWINI': 'DHANUSH', 'YEAR': 2023, 'colour': ['green', 'pink'], 'THANU': 'CHINNU'}
{'YASASWINI': 'DHANUSH', 'YEAR': 2023, 'colour': ['green', 'pink']}
{'YEAR': 2023, 'colour': ['green', 'pink']}
{}

In [ ]:
#Loop through a dictonary
a = {"YASASWINI":"DHANUSH" , "SRINIVAS":"LAXMI" , "YEAR":2002 }
for x in a:              #Print all key names in the dictionary, one by one
  print(x)
for x in a.values():     #values() method to return values of a dictionary
  print(x)
for x in a.keys():       #keys() method to return the keys of a dictionary
  print(x)
for x,y in a.items():    #Loop through both keys and values, by using the items() method
  print(x, y)

YASASWINI
SRINIVAS
YEAR
DHANUSH
LAXMI
2002
YASASWINI
SRINIVAS
YEAR
YASASWINI DHANUSH
SRINIVAS LAXMI
YEAR 2002

In [ ]:
a = {"YASASWINI":"DHANUSH" , "SRINIVAS":"LAXMI" , "YEAR":2002 }
mydict = a.copy()           #Make a copy of a dictionary
print(mydict)
mydict = dict(a)            #Make a copy of a dictionary
print(mydict)

{'YASASWINI': 'DHANUSH', 'SRINIVAS': 'LAXMI', 'YEAR': 2002}
{'YASASWINI': 'DHANUSH', 'SRINIVAS': 'LAXMI', 'YEAR': 2002}

In [ ]:
a = {"MADDALA":{"YASASWINI":"DHANUSH" , "SRINIVAS":"LAXMI"}, "KORIBILLI":{"VASU":"UMA" , "CHINNU":"THANU"} , "YEAR":2002 }
print(a)
print(a["KORIBILLI"],a["MADDALA"])         #nested dictionary

{'MADDALA': {'YASASWINI': 'DHANUSH', 'SRINIVAS': 'LAXMI'}, 'KORIBILLI': {'VASU': 'UMA', 'CHINNU': 'THANU'}, 'YEAR': 2002}
{'VASU': 'UMA', 'CHINNU': 'THANU'} {'YASASWINI': 'DHANUSH', 'SRINIVAS': 'LAXMI'}