<a href="https://colab.research.google.com/github/maddalayasaswini/TechLeadsAssignments/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# If Statement

An "if statement" is written by using the if keyword

In [ ]:
a = 20
b = 30
if (a < b):
  print("b is greater than a")

b is greater than a

In [ ]:
a = int(input("Enter a number : "))      #input is taken by the user
b = int(input("Enter a number : "))
if (a > b):
  print("a is greater than b")

Enter a number : 546
Enter a number : 44
a is greater than b

# Elif Statement

The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 20
b = 20
if (a > b):
  print("a is greater than b")
elif (a == b ):
  print("a and b are equal")

a and b are equal

# Else Statement

The else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 20
b = 30
if (a > b):
  print("a is greater than b")
elif (a == b ):
  print("a and b are equal")
else:
  print("a is not greater than b")

a is not greater than b

In [ ]:
a = 20
b = 30
if (a > b):
  print("a is greater than b")                 #we can use if-else statements also
else:
  print("a is not greater than b")

# Nested if Statements


if statements inside if statements is called nested if statements.

In [ ]:
x = 33
if x > 10:
  print("Above 20,")
  if x > 20:
    print("and also above 30!")
  else:
    print("but not above 30.")

Above 20,
and also above 30!

# While Loop

With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 4
while i < 6:
  print(i)
  i += 1

4
5

With the break statement we can stop the loop even if the while condition is true:

In [ ]:
i = 3
while i < 12:
  print(i)
  if i == 3:            #break statement
    break
  i += 1

3

With the continue statement we can stop the current iteration, and continue with the next:

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue           #continue statement
  print(i)

1
2
4
5
6

With the else statement we can run a block of code once when the condition no longer is true:

In [ ]:
i = 8
while i < 6:
  print(i)
  i += 1
else:                                  #else statement
  print("i is no longer less than 6")

i is no longer less than 6

# For Loop

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
family = ["Yassu","Tanu","Chinnu","Dhanu"]
for x in family:
  print(x)

Yassu
Tanu
Chinnu
Dhanu

Even strings are iterable objects, they contain a sequence of characters:

In [ ]:
for x in "YASSU":
  print(x)

Y
A
S
S
U

With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
family = ["Yassu","Tanu","Chinnu","Dhanu"]
for x in family:
  print(x)
  if x == "Chinnu":
    break

Yassu
Tanu
Chinnu

With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
family = c
for x in family:
  if x == "Chinnu":
    continue
  print(x)

Yassu
Tanu
Dhanu

Using the range() function:

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [ ]:
for x in range(6):
  print(x)
else:                                  #Else in For Loop
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [ ]:
family1 = ["Yassu","Tanu","Chinnu","Dhanu"]
family2 = ["Bavani", "Srinu", "Uma"]
for x in family1:
  for y in family2:                              #Nested Loops
    print(x, y)

Yassu Bavani
Yassu Srinu
Yassu Uma
Tanu Bavani
Tanu Srinu
Tanu Uma
Chinnu Bavani
Chinnu Srinu
Chinnu Uma
Dhanu Bavani
Dhanu Srinu
Dhanu Uma

# Tenary Operators

It is a concise way of writing simple  if/else statements ina single line

In [ ]:
a = 10
b = 20
if a < b:
  print(b)
else:
  print(a)

20

# Short Hand If

If you have only one statement to execete , can put it on the same line as the if statement

In [ ]:
a=50
b=30
if a>b:
  print("a is greater than b")

a is greater than b

# Short Hand If-else

If you have only one statement to execete , one for if an one for else , can put it all on the same line

In [ ]:
a=50
b=300
print("A") if a>b else print("B")

B

# AND

And key word is a logical operator and it used to combine conditional statements

In [ ]:
a=200
b=30
c=400
if a>b and c>a:
    print("Both conditions are true")

Both conditions are true

# OR

the or keyword is a logical operator, and it also used to combine the conditional statements

In [ ]:
a=200
b=30
c=400
if a>b or c>a:
    print("At least one of the condition is true")

At least one of the condition is true

# NOT

the not keyword is a logical operator,and it is used to reverse the result of the conditional statement

In [ ]:
a=50
b=400
if not a>b:
    print("a is NOT greater than b")

a is NOT greater than b