<a href="https://colab.research.google.com/github/maddalayasaswini/TechLeadsAssignments/blob/main/Assignment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SETS**

Sets are used to store multiple items in a single variable.

In [ ]:
a = {"YASASWINI","SRINIVAS RAO","LAXMI"}
print(a)
b = set(("YASASWINI","SRINIVAS RAO","LAXMI"))  #set() constructor
print(b)

{'SRINIVAS RAO', 'YASASWINI', 'LAXMI'}
{'SRINIVAS RAO', 'YASASWINI', 'LAXMI'}

In [ ]:
a = {"YASASWINI","SRINIVAS RAO","LAXMI",True,1,2}  #True and 1 is considered the same value
print(a)
print(len(a))        #lenght of a set

{True, 2, 'YASASWINI', 'LAXMI', 'SRINIVAS RAO'}
5

In [ ]:
a = {"YASASWINI","SRINIVAS RAO","LAXMI"}
b = {1,2,3,4}
c = {True,False}        #set items data types
print(a)
print(b)
print(c)
d  = ("YASASWINI",20,True)
print(d)
print(type(a))

{'SRINIVAS RAO', 'YASASWINI', 'LAXMI'}
{1, 2, 3, 4}
{False, True}
('YASASWINI', 20, True)
<class 'set'>

In [ ]:
a = {"YASASWINI","SRINIVAS RAO","LAXMI"}
for x in a:
  print(x)      #accessing items

SRINIVAS RAO
YASASWINI
LAXMI

In [ ]:
a = {"YASASWINI","SRINIVAS RAO","LAXMI"}
for x in a:           #looping
  print(x)

SRINIVAS RAO
YASASWINI
LAXMI

Methods

In [ ]:
a = {"YASASWINI","SRINIVAS RAO","LAXMI"}
b = {True,False}
a.add("DHANUSH")        #add item
print(a)
a.update(b)             #update the sets
print(a)
a.remove("YASASWINI")    #remove the item
print(a)
a.discard("LAXMI")       #remove the item by using the discard() method
print(a)

{'SRINIVAS RAO', 'YASASWINI', 'DHANUSH', 'LAXMI'}
{False, 'YASASWINI', 'DHANUSH', True, 'LAXMI', 'SRINIVAS RAO'}
{False, 'DHANUSH', True, 'LAXMI', 'SRINIVAS RAO'}
{False, 'DHANUSH', True, 'SRINIVAS RAO'}

In [ ]:
a = {"YASASWINI","SRINIVAS RAO","LAXMI"}
x = a.copy()         #copies the set
print(x)
x = a.pop()                 #pop() method is the removed item
print(x)
b = a.clear()                 #clear() method empties the set
print(b)

{'SRINIVAS RAO', 'YASASWINI', 'LAXMI'}
SRINIVAS RAO
None

In [ ]:
a = {"YASASWINI","SRINIVAS RAO","LAXMI"}
b = {"DHANUSH","LAXMI","THANU"}
c = a.difference(b)
print(c)
a.difference_update(b)
print(a)
x = a.issuperset(b)
print(x)
y = a.issubset(b)
print(y)
z = a.isdisjoint(b)
print(z)

{'SRINIVAS RAO', 'YASASWINI'}
{'SRINIVAS RAO', 'YASASWINI'}
False
False
True

Joining sets

In [ ]:
a = {"YASASWINI","SRINIVAS RAO","LAXMI"}
b = {"UMA","THANU","CHINNU"}
c = a.union(b)             #union() method returns a new set with all items from both sets
print(c)
b.update(a)        #update() method inserts the items in set2 into set1
print(b)
a.intersection_update(b)   #intersection_update() method will keep only the items that are present in both sets
print(a)
d = a.intersection(b)     #intersection() method will return a new set, that only contains the items that are present in both sets
print(d)
a.symmetric_difference_update(b)   #symmetric_difference_update() method will keep only the elements that are NOT present in both sets
print(b)
a = a.symmetric_difference(b)       #symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets
print(a)

{'YASASWINI', 'LAXMI', 'CHINNU', 'UMA', 'SRINIVAS RAO', 'THANU'}
{'YASASWINI', 'SRINIVAS RAO', 'UMA', 'LAXMI', 'CHINNU', 'THANU'}
{'SRINIVAS RAO', 'YASASWINI', 'LAXMI'}
{'SRINIVAS RAO', 'YASASWINI', 'LAXMI'}
{'YASASWINI', 'SRINIVAS RAO', 'UMA', 'LAXMI', 'CHINNU', 'THANU'}
{'YASASWINI', 'SRINIVAS RAO', 'LAXMI'}

# Input function

In [1]:
print("Enter your name: ")
x=input()
print("Hello,"+x)

Enter your name:
yasaswini
Hello,yasaswini

In [2]:
n=input("enter a name:")

print("hello,"+x)

enter a name:yasaswini
hello,yasaswini