<a href="https://colab.research.google.com/github/maddalayasaswini/TechLeadsAssignments/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*STRINGS*

Strings in python are surrounded by either single quotation marks, or double quotation marks.

can also be (''' hi ''') (""" hi """)

In [ ]:
a = "hi Yassu"
print(a)

hi Yassu

In [ ]:
a = "Hello, Yasaswini!"
print(a[1])   #in arrays

e

In [ ]:
a = "Hello, Yasaswini!"
print(len(a))   #lenght if the string

17

In [ ]:
a = "I am the best!"
print("best" in a)          #checking a string

True

In [ ]:
a = "Hello,Yasaswini!"
print(a[1])           #2nd item of the list
print(a[-1])          #refers to the last items
print(a[2:3])         #Range of indexes
print(a[:2])
print(a[1:])
print(a[-3:-1])

e
!
l
He
ello,Yasaswini!
ni

Modify Strings

In [ ]:
a = "Hello,Yasaswini!"
print(a.upper())          #uppercase
b = "Hello,Yasaswini!"
print(b.lower())          #lowercase
c = "Hello,Yasaswini!"
print(c.strip())          #removes white space
d = "Hello,Yasaswini!"
print(d.replace("i", "a"))         #replaces a string with another string
e = "Hello,Yasaswini!"
print(e.split(","))       #splits the string into substrings

HELLO,YASASWINI!
hello,yasaswini!
Hello,Yasaswini!
Hello,Yasaswana!
['Hello', 'Yasaswini!']

In [ ]:
family = " I LOVE YOU DADDY,AMMA,TAMBI. "
i = int(input("repeat:"))
print(family*i)

repeat:6
 I LOVE YOU DADDY,AMMA,TAMBI.  I LOVE YOU DADDY,AMMA,TAMBI.  I LOVE YOU DADDY,AMMA,TAMBI.  I LOVE YOU DADDY,AMMA,TAMBI.  I LOVE YOU DADDY,AMMA,TAMBI.  I LOVE YOU DADDY,AMMA,TAMBI.

In [ ]:
value = "yasaswini"
print("value: ",value)
new_value = input("assign new value: ")
print("new value: ",new_value)                       #assigning new values

value:  yasaswini
assign new value: yassu
new value:  yassu

In [ ]:
for x in "Yasaswini" :
  print(x)          #loop through a string

Y
a
s
a
s
w
i
n
i

In [ ]:
a = "Srinivas"
b = "Laxmi"
c = "Yasaswini"
d = "Dhanush Kumar"
print(a+" "+b+" "+c+" "+d)     #string concatanation

Srinivas Laxmi Yasaswini Dhanush Kumar

# String Methods

In [ ]:
a = "I am Studing in Kiet Engineering College"
print(a.capitalize())          #Converts the first character to upper case
print(a.casefold())          #Converts string into lower case
print(a.encode())          #Returns an encoded version of the string
print(a.expandtabs())        #Sets the tab size of the string
print(a.center(6))          #Returns a centered string
b = a.count("Kiet")
print(b)          #Returns the number of times a specified value occurs in a string
b = a.endswith("College")
print(b)          #Returns true if the string ends with the specified value
b = a.endswith("I")
print(b)          #Returns true if the string starts with the specified value
b = a.find("College")
print(b)        #Searches the string for a specified value and returns the position of where it was found
b = a.find("College")
print(b)          #Searches the string for a specified value and returns the position of where it was found
print(a.isalnum())        #Returns True if all characters in the string are alphanumeric
print(a.swapcase())          #Returns the string in upper to lower & lower to upper

I am studing in kiet engineering college
i am studing in kiet engineering college
b'I am Studing in Kiet Engineering College'
I am Studing in Kiet Engineering College
I am Studing in Kiet Engineering College
1
True
False
33
33
False
i AM sTUDING IN kIET eNGINEERING cOLLEGE

In [ ]:
a = "04092003"
print(a.isascii())          #Converts string into lower case
print(a.isdecimal())          #Returns an encoded version of the string
print(a.isdigit())        #Sets the tab size of the string
print(a.isidentifier())          #Returns a centered string
print(a.isprintable())        #checks wheater the string will be printed or not
print(a.isidentifier())      #checks wheater the string is identifier or not

True
True
True
False
True
False

In [ ]:
a = "yasaswini"
print(a.isalpha())           #checks wheater the string is alphabet or not
print(a.islower())            #checks wheater the string is lower or not
print(a.upper())            #results the string in upper

True
True
YASASWINI

In [ ]:
a = " HELLO , I AM YASASWINI "
print(a.istitle())          #checks wheater the string is title or not
print(a.isupper())          #checks wheater the string is upper or not
print(a.lower())            #results the string in lower
print(a.rsplit(", "))     #returns list

False
True
 hello , i am yasaswini
[' HELLO ', 'I AM YASASWINI ']

In [ ]:
a = "  "          #ex: "   " sould be white space
print(a.isspace())

True

In [ ]:
family = ("yassu","laxmi","srinivas")
print(",".join(family))           #joins the string with the given ....

yassu,laxmi,srinivas

In [ ]:
a = "Yasaswini"
b = a.ljust(20)                 #20 whitespaces will be provied
print(b,"Is in Kiet college")
x = b.strip()                   #joins the string
print("I am ",x,"is in kiet college")

Yasaswini            Is in Kiet college
I am  Yasaswini is in kiet college

In [ ]:
a = "     Yasaswini     "
b = a.lstrip()                   #right side space will be removed
print("I am ",b,"is in kiet college")

I am  Yasaswini      is in kiet college

In [ ]:
a = " HELLO,\nI AM YASASWINI "
print(a.splitlines())     #breaks & returns the string

[' HELLO,', 'I AM YASASWINI ']

# String Formating



we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are...**bold text**

In [ ]:
age = 20
txt = "I am Yasaswini, and I am {}"
print(txt.format(age))

I am Yasaswini, and I am 20

In [ ]:
Age = 20
DOB = 2023
Name = "Yasaswini"
myorder = "I am {2} born on {1} now I am {0} years old"
print(myorder.format( Age, DOB,Name))

I am Yasaswini born on 2023 now I am 20 years old

Escape Characters

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

In [ ]:
a = 'I\'m Yasaswini'             #(\)is used before (')
print(a)
b = 'Hello,Yasaswini\\(greeting)'  #to need (\)
print(b)
c = 'Hello \n Yasaswini'          #to make line by line
print(c)
d = 'Hello \r Yasaswini'          #to remove front characters
print(d)
e = 'Hello\tYasaswini'          #to create space
print(e)
f = 'Hello  \bYasaswini'          #to remove black space
print(f)
g = "\110\145\154\154\157"         #to form a character for its octal value
print(g)
h = "\x48\x65\x6c\x6c\x6f"         ##to form a character for its hexa value
print(h)

I'm Yasaswini
Hello,Yasaswini\(greeting)
Hello
 Yasaswini
 Yasaswini
Hello	Yasaswini
Hello  Yasaswini
Hello
Hello